<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if(locals.usuario){ %>
		<%- include('./partials/headerLogueado') %>
		<% } else{ %>
			<%- include('./partials/headerDeslogueado') %>
			<% } %>
	<!-- /Header -->
		<% console.log("El id que quiero es: ", producto1.id) %>
	
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/product/productEdit/<%= producto1.id %>" method="POST">
					<div>
						<label for="image">Imagen:</label>
						<input id="nombre_foto" type="file" name="nombre_foto" value="<%= locals.oldData && oldData.image ? oldData.image : null  %>">
						<% if (locals.errors && errors.image) { %>
                            <div class="error-msg"><%= errors.image.msg %></div>
                        <% } %>
					</div>
					<div>
						<label for="producto">Nombre del producto:</label>
						<input id="nombre_producto" type="text" name="nombre_producto" value="<%= locals.oldData && oldData.producto ? oldData.producto : null  %>">
						<% if (locals.errors && errors.producto) { %>
                            <div class="error-msg"><%= errors.producto.msg %></div>
                        <% } %>
					</div>
					<div>
						<label for="descripcion">Descripcion:</label>
						<input id="descripcion" type="text" name="descripcion" value="<%= locals.oldData && oldData.descripcion ? oldData.descripcion : null  %>">
						<% if (locals.errors && errors.descripcion) { %>
                            <div class="error-msg"><%= errors.descripcion.msg %></div>
                        <% } %>
					</div>
					<div>
						<button type="submit">Enviar</button>
					</div>
				</form>
			</h2>


			<%- include('./partials/footer') %>

</body>

</html>