<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
<%- include('./partials/headerDeslogueado') %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="/product/productAdd">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="images/products/auto5.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						BMW M2, no es un auto, mas bien una experiencia. De 0 a 100km/h en 5.7 segundos, este vehiculo no deja nada que desear 
						en el departamento de velocidad. Para seguir sumando, su espacioso interior lo hace uno de los autos mas comodos en la industria.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="<%=usuarios[0].foto_de_perfil%>" alt="foto">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/profile"> </a> <%= usuarios[0].usuario   %>:</strong>
								 <%= productos[0].comentarios.textoComentario[0] %>   </p>
							</div>
						</article>
						<article>
							<img src="<%=usuarios[1].foto_de_perfil%>" alt="foto">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile"><%=usuarios[1].usuario%>: </a> </strong>
									<%=productos[0].comentarios.textoComentario[1]%></p>
							</div>
						</article>
						<article>
							<img src="<%=usuarios[2].foto_de_perfil%>" alt="foto">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile"><%=usuarios[2].usuario%>:</a> </strong>
									<%=productos[0].comentarios.textoComentario[2]%>
									</p>
							</div>
						</article>
						<article>
							<img src="<%=usuarios[3].foto_de_perfil%>" alt="foto">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile"><%=usuarios[3].usuario%>: </a> </strong>
									<%=productos[0].comentarios.textoComentario[3]%></p>
							</div>
						</article>
						<article>
							<img src="<%=usuarios[4].foto_de_perfil%>" alt="foto">
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile"><%=usuarios[4].usuario%>:</a> </strong>
									<%=productos[0].comentarios.textoComentario[4]%></p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>


</body>	
</html>