<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if(locals.usuario){ %>
		<%- include('./partials/headerLogueado') %>
		<% } else{ %>
			<%- include('./partials/headerDeslogueado') %>
			<% } %>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.nombre_producto %></h2> 
			<p class="product-detail-description">
				<a href="/product/productAdd">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= product.nombre_foto %>" alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= product.descripcion %></p>
				</article>

				<div class="col-12 col-lg-4">
					<% for( let i = 0; i < product.Comentarios.length; i++ ) { %>

						<section class="comments">
							<article>
								<img src="/images/users/<%=product.Comentarios[i].Usuarios.foto_perfil%>" alt="foto">
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"> </a><%=product.Comentarios[i].Usuarios.nombre %> </strong>
									 <%= product.Comentarios[i].texto %>   </p>
								</div>
							</article>
					
					<% } %>
					
					</section>
					<% if(locals.usuario == undefined){ %>
						<p class="user">Debes estar logueado para comentar</p>
					<% }else{ %>
						<form class="form" action="/product/<%= product.id %>" method="POST">
						<input class="form-input" type="text" name = "comentario" value="<%= locals.oldData && oldData.comentario ? oldData.comentario : null  %>" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						<% if (locals.errors && errors.comentario) { %>
                            <div class="user"><%= errors.comentario.msg %></div>
                        <% } %>
					</form>
					<% } %>
				
					
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>


</body>	
</html>